

QScrollBar:vertical {
	border: 1px solid #999999;
	background:white;
	width:40px;    
	margin: 0px 0px 0px 0px;
}
QScrollBar::handle:vertical {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0 rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130), stop:1 rgb(32, 47, 130));
	min-height: 0px;
}
QScrollBar::add-line:vertical {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0 rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));
	height: 0 px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}


QScrollBar:horizontal {
	border: 1px solid #999999;
	background:white;
	height:40px;    
	margin: 0px 0px 0px 0px;
}
QScrollBar::handle:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0 rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130), stop:1 rgb(32, 47, 130));
	min-width: 0px;
}
QScrollBar::add-line:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0 rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));
	width: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
	stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));
	width: 0 px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QPushButton:checked {
background: green;
}